@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-h {
        height: calc(100% - 4rem);
    }

    .grid-cols-auto {
        grid-template-columns: auto 1fr;
    }

    .grid-cols-full {
        grid-column: 1 / -1;
    }
}
